@font-face {
	font-family:titleFont;
	src: url(../fonts/basictitlefont.ttf);
}

.title {
	font-family: "titleFont";
	text-align: center;
}

.project_name, .experience_name, .passion_name {
	font-weight: bold;
}