/* Main Page */

/* Navbar */

.nav_item {
	width: 100%;
	height: 15%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#navbar_prompt {
	position: fixed;
	left: 0px;
	bottom: 0px;
}

#navbar_content {
	position: fixed;
	bottom: 15%;
	left: 0px;
	width:100%;
	display: none;
}

.mnav_title {
	font-family: bebas;
	font-size: 36pt;
	text-align: center;
}