/* Main Page */

/* Navbar */

.nav_item {
	width: 100%;
	height: 10%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav_text_holder {
	width: 100%;
	text-align: center;
}

#navbar_prompt {
	position: fixed;
	left: 0px;
	bottom: 0px;
}

#navbar_link_container {
	width: 100%;
}

#navbar_content {
	padding: 0px;
	position: fixed;
	bottom: 10%;
	left: 0px;
	width:100%;
	display: none;
}

.mnav_title {
	width: 100%;
	text-align: center;
	font-family: bebas;
	font-size: 24pt;
}